firstappication/src/main/mule/firstappication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4098aa6a-825d-4e48-aaa6-b840e4a0a021" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstappicationFlow" doc:id="94b8356d-f04a-4caf-ac1b-9ad963f72e9e" >
		<http:listener doc:name="Listener" doc:id="0c7b482a-4b69-48fc-9969-7e3e8c0e4d55" config-ref="HTTP_Listener_config" path="/test"/>
		<set-variable value="#[vars.name]" doc:name="Set Variable" doc:id="4577dc97-ac3b-48f1-acdd-3a6ad9f4b977" variableName="name"/>
		<set-variable value="#[vars.address]" doc:name="Set Variable" doc:id="5955f06d-8a97-4e09-936b-6f85a19a264f" variableName="address"/>
		<ee:transform doc:name="Transform Message" doc:id="5bdc785d-aa58-4dd3-8953-5ca86f810dc7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name":"venkat",
	"address":"vij"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="aa70ffbb-a390-4d66-92c6-3d5e416a0792" message="firstapplication suceefully....#[payload]"/>
	</flow>
</mule>
